.comments__box {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 425px) {
    .comments__box {
        align-items: center;
    }
}

@media screen 
and (min-width: 426px)
and (max-width: 768px) {
    .comments__box {
        align-items: center;
    }
}