.video__item_bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
}

@media screen and (max-width: 559px) {
    .video__item_bg {
        background-size: cover;
        border-radius: 5px;
    }
}

@media screen 
and (min-width: 560px)
and (max-width: 768px) {
    .video__item_bg {
        background-size: cover;
        border-radius: 5px;
    }
}

@media screen
and (min-width: 769px)
and (max-width: 1024px) {
    .video__item_bg {
        background-size: cover;
        border-radius: 5px;
    }
}

@media screen
and (min-width: 1025px)
and (max-width: 1280px) {
    .video__item_bg {
        background-size: cover;
        border-radius: 5px;
    }
}

