.places__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 65px;
    color: #fff;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 529px) {
    .places__title {
        width: 90%;
        font-size: 2rem;
        line-height: 1;
        padding-top: 45px;
        margin-bottom: 30px;
    }
}

@media screen 
and (min-width: 530px)
and (max-width: 768px) {
    .places__title {
        font-size: 3rem;
        line-height: .8;
    }
}