.lead {
    width: 100%;
    max-width: 985px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 48px 0 0 0;
}

@media screen
and (min-width: 769px)
and (max-width: 1024px) {
    .lead {
        width: 92%;
    }
}

@media screen
and (min-width: 1025px)
and (max-width: 1280px) {
    .lead {
        width: 92%;
    }
}