.places__place {
    display: grid;
    grid-template: auto auto / 460px 484px;
    grid-gap: 60px 40px;
    margin-top: 70px;
}

@media screen and (max-width: 529px) {
    .places__place {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
}

@media screen 
and (min-width: 530px)
and (max-width: 768px) {
    .places__place {
        display: grid;
        grid-template: auto auto / 1fr 1fr;
        grid-gap: 30px;
    }
}

@media screen
and (min-width: 769px)
and (max-width: 1024px) {
    .places__place {
        display: grid;
        grid-template: auto auto / 1fr 1fr;
        grid-gap: 30px;
    }
}